<h1>Asignar Alumnos-Materias</h1>
<div class="container">
  <div class="mb-3">
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingSelect">Preference</label>
      <label>Selecciona un Alumno</label>
      <select class="form-select" id="autoSizingSelect" [(ngModel)]="clasealumno.alumno_id" name="nameAlumno">
        <option *ngFor="let alumno of alumnos;" [ngValue]="alumno.alumno_id">{{alumno.nombre}}</option>
      </select>
    </div>
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingSelect">Preference</label>
      <label>Selecciona una Materia</label>
      <select class="form-select" id="autoSizingSelect" [(ngModel)]="clasealumno.clase_id" name="claseAlumno">
        <option *ngFor="let clase of clases;" [ngValue]="clase.clases_id">{{clase.materia}}</option>
      </select>
    </div>
  </div>
  <button style="border-color: black; color: black; background-color: lightgray;" class="btn btn-sucess" role="button"
    (click)='create(clasealumno)'>
    Registrar
  </button>
  <button style="border-color: black; color: black;background-color: lightblue;" class="btn btn-primary" role="button"
    [routerLink]="['/main']">
    Regresar
  </button>
</div>